<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/56849c0c-465c-4dca-ba5c-7f4209642887/resourceGroups/medic-helper-rg/providers/Microsoft.Web/sites/medic-helper-api</ResourceId>
    <ResourceGroup>medic-helper-rg</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://medic-helper-api-gvgvhwe0dedncwdu.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>09b8bc0d-7fb9-4933-9fb8-694097016028</ProjectGuid>
    <MSDeployServiceURL>medic-helper-api-gvgvhwe0dedncwdu.scm.canadacentral-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>medic-helper-api</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAA8REnJ0ha0OD6OZvDc+JsAAAAAACAAAAAAAQZgAAAAEAACAAAABrG3kWptaRlegOJ5xr5KP4OSGrVRLWYgFZEIpDP/5fBQAAAAAOgAAAAAIAACAAAABxlWJr3FaPLDT4REe34mUHiWVEsUcc3GXy8xGj+gilPSAAAABOGvfQdulwP4zDMJvleBOqKK+RLiSwKboeJn5EIN88nkAAAABYdKEYr87XRzjrFNKQ/VgaYtgpp6zehVpcwkkCEpU6bSyhAoQM/5OuAgYdXC/l7/Q5OxBEhhwZ8ZeMHVRKA/x+</EncryptedPassword>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
    <SelfContained>false</SelfContained>
    <RemoteSitePhysicalPath />
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>